# Desafios posteriores:

- OK - Agrupar os valores de bpm de 5 em 5 minutos
- OK - Selecionar os bpms que fazem parte do sleep time
- OK - Combinar os dados awake no sleep time
- OK - Preencher os gaps
- Remover os dias em que há uma soneca durante o dia
- OK - Otimizar a função que preenche os gaps
- Agrupar dados da Letônia e do Brasil
- Entender como passar dados nulos para o modelo
- Separar dia-a-dia
- Fazer um grande subplot de cada dia
- Mudar o padding do sleep

Novo approach:

- Remover do gap_filler o state ffill
- Criar o data_labelling
- Criar um State Revisor após terminar as labels
- Preencher os None states de acordo com a label => Se está no período acordado, None vira awake, se está durante o sono vira sleep

# Imports

In [1]:
import requests
import datetime
import collections

import pandas as pd
import numpy as np
from tqdm import tqdm

import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'iframe'

# Requests

In [2]:
def data_request(start, end):   
    """
    Description
    -----------
    This function gets requests from the sleep and heart routes, in a specific date range

    Parameters
    ----------
    start : <string>
        Beginning of the interval. The day is in the format YYYY-MM-DD

    end : <string>
        End of the interval. The day is in the format YYYY-MM-DD

    Returns
    -------
    sleep_response : <class 'requests.models.Response'>
        Response from the sleep route

    heart_response : <class 'requests.models.Response'>
        Response from the heart route
    """
    
    # Personal Access Token used to access the user data via the Oura Cloud API
    headers = {'Authorization': 'Bearer Q3E2ETZRM4AKZULORX6LJNQOKSIOWOYG'}
    
    # Parent route
    url = f'https://api.ouraring.com/v2/usercollection/'
    
    # Define the parameters of each request
    sleep_params = {'start_date': start, 
                    'end_date': end}    
    heart_params={ 'start_datetime': f'{start}T00:00:01+03:00', 
                   'end_datetime': f'{end}T23:59:59+03:00'}
    
    # Request Sleep data and Heart data
    sleep_response = requests.request('GET', url+'sleep', headers = headers, params = sleep_params)
    heart_response = requests.request('GET', url+'heartrate', headers = headers, params = heart_params)
    
    return sleep_response, heart_response

In [3]:
START = '2023-07-25'
END = '2023-08-23'

sleep_response, heart_response = data_request(START, END)

# Heart Preprocessing

In [4]:
def heart_route_preprocessing(response):
    """
    Description
    -----------
    This function extracts the bpm and time from the json 

    Parameters
    ----------
    response : <class 'requests.models.Response'>
        Response from the heart route

    Returns
    -------
    heart_data : <class 'pandas.core.frame.DataFrame'>
        DataFrame with integer index and ['time', 'bpm'] columns 
    """
    
    # List that will be filled with the response data
    time, bpm = [], []

    # Extract the information from the response
    for data in response.json()['data']:
        
        bpm.append(data['bpm'])
        time.append(data['timestamp'])

    # Create a Empty DataFrame
    heart_data = pd.DataFrame(columns = ["time", "bpm"])
    
    # Store the response data in the DataFrame
    heart_data["time"], heart_data["bpm"] = time, bpm

    return heart_data

In [5]:
heart_data = heart_route_preprocessing(heart_response)

In [6]:
def time_preprocessing(time):
    """
    Description
    -----------
    This function changes the format of a date and adjusts the time according to the Latvian or Brazilian timezone. OBS: These timezones were chosen according to the countries in which Igor lived.

    Parameters
    ----------
    time : <str>
        Time in the format YYYY-MM-DDThh:mm:ss+00:00 (Example: 2023-07-24T21:04:37+00:00)

    Returns
    -------
    new_time : <class 'datetime.datetime'>
        Time in the format YYYY-MM-DD hh:mm:ss±03:00 (Example: 2023-07-25 00:04:37+03:00)
    """

    # Set the Latvian and Brazilian timezones (UTC +3 and UTC -3, respectively) 
    LV_TIMEZONE = datetime.timezone(offset = datetime.timedelta(hours=3))
    BR_TIMEZONE = datetime.timezone(offset = datetime.timedelta(hours=-3))

    # Covert string to Datetime
    new_time = datetime.datetime.strptime(time, "%Y-%m-%dT%H:%M:%S%z")
    
    # Choose the correct timezone, according with the date that Igor comeback to Brazil
    if (new_time <= datetime.datetime(2023, 8, 24, tzinfo=datetime.timezone.utc)):
        new_time = new_time.astimezone(LV_TIMEZONE)
        
    else:
        new_time = new_time.astimezone(BR_TIMEZONE)
    
    return new_time

In [7]:
heart_data['time'] = heart_data['time'].apply(time_preprocessing)

In [8]:
def groups_5min(data):
    """
    Description
    -----------
    Every 5 minutes, the Oura Ring measures the heart rate for 60 consecutive seconds. However, only the reliable measures are stored in the API. 
    Therefore, this function groups all the heart rates that were collected in the same 60s batch.

    Parameters
    ----------
    data : <class 'pandas.core.frame.DataFrame'>
        Heart data. DataFrame with integer index and ['time', 'bpm'] columns

    Returns
    -------
    new_data : <class 'pandas.core.frame.DataFrame'>
        DataFrame with integer index and ['time', 'bpm','state'] columns
    """
    
    # Set the time difference between the current row and the previous one
    mask = heart_data['time'].diff().dt.seconds

    # Every time that a time diff is greater than 60s, add +1 to the label 
    mask = mask.gt(60).cumsum()

    # Group the batches according to the mask, maintaining the time of the first measure, and the mean of the bpm    
    new_data = data.groupby(mask, as_index=True)[['time','bpm']].agg({'time':'first', 'bpm':'mean'}).round(1)
    
    # Set the awake state (will be important during the 4-stages classification)
    new_data['state'] = 'awake' 
    
    return new_data

In [9]:
heart_data = groups_5min(heart_data)

# Sleep Preprocessing

In [10]:
def heart_rate_extractor(day_data):
    """
    Description
    -----------
    This function extracts the heart rate from the sleep route and gives back the DataFrame in the same format as the heart route Dataframe. 
   
    Parameters
    ----------
    day_data : <dict>
        JSON with data of one-night sleep time

    Returns
    -------
    new_data : <class 'pandas.core.frame.DataFrame'>
        Heart data during the sleep time. DataFrame with integer index and ['time', 'bpm','state'] columns
    """
    
    # Create the columns 
    time = []
    bpm = day_data['heart_rate']['items']
    state = ['sleep']*len(bpm)
    
    # Extract the start and end of the sleep time
    start = datetime.datetime.strptime(day_data['bedtime_start'], "%Y-%m-%dT%H:%M:%S%z")
    end = datetime.datetime.strptime(day_data['bedtime_end'], "%Y-%m-%dT%H:%M:%S%z")
    
    # Create a spaced timelist within the sleep time interval
    aux = start
    while aux < end:
        time.append(aux)
        aux += datetime.timedelta(minutes=5)
        
    # Padding of the time length according to bpm length
    while len(bpm) != len(time):
        time.pop()
        
    # Create a DataFrame with the sleep data of a unique day
    heart_data = pd.DataFrame(columns = ["time", "bpm", "state"])
    heart_data["time"], heart_data["bpm"], heart_data["state"] = time, bpm, state

    return heart_data

In [11]:
def sleep_route_preprocessing(response):
    """
    Description
    -----------
    This function iterate over the days to extracts the sleep data with the heart_rate_extractor

    Parameters
    ----------
    response : <class 'requests.models.Response'>
        Response from the sleep route

    Returns
    -------
    sleep_data : <class 'pandas.core.frame.DataFrame'>
        DataFrame with integer index and ['time', 'bpm', 'state'] columns 
        
    start_bedtime : <list>
        List of with the start bedtime of each day 
    
    end_bedtime : <list>
        List of with the end bedtime of each day
    """
    
    df_list = []
    start_bedtime = []
    end_bedtime = []

    for day_data in response.json()['data']:

        if day_data['heart_rate'] != None:
            if len(day_data['heart_rate']['items']) > 40:

                df_list.append(heart_rate_extractor(day_data))
                start_bedtime.append(day_data['bedtime_start'])
                end_bedtime.append(day_data['bedtime_end'])
    
    sleep_data = pd.concat(df_list)
    
    return sleep_data, start_bedtime, end_bedtime

In [12]:
sleep_data, start_bedtime, end_bedtime = sleep_route_preprocessing(sleep_response)

# Filling the gaps

In [37]:
full_data = pd.concat([sleep_data, heart_data]).dropna(ignore_index=True).sort_values(['time']).reset_index(drop=True)

In [38]:
def time_rounder(full_data):
    """
    Description
    -----------
    This function round the time in multiple hours of 5 minutes (Ex: 00h00, 00h05, 00h10, 00h15, and so on).

    Parameters
    ----------
    full_data : <class 'pandas.core.frame.DataFrame'>
        Sleep and Heart route concatenated. DataFrame with integer index and ['time', 'bpm', 'state'] columns

    Returns
    -------
    full_data : <class 'pandas.core.frame.DataFrame'>
        Full data with the time rounded to 5 minutes interval. DataFrame with integer index and ['time', 'bpm', 'state'] columns
    """
    
    # Round the time in multiple hours of 5 minutes
    full_data['new_time'] = full_data['time'].round('5min')
    
    # Take all duplicate time after the round
    duplicate = [item for item, count in collections.Counter(full_data["new_time"]).items() if count > 1]
    
    for dupl in duplicate:
        
        idx = full_data[full_data['new_time'] == dupl].index
        
        # Round down the first duplicated row
        floor_round = full_data.iloc[idx[0]]['time'].floor('5min')
        
        # Round up the second duplicated row
        ceil_round = full_data.iloc[idx[1]]['time'].ceil('5min')

        # Replace the first duplicated if the new round doesn't conflict with the previous value
        if floor_round != full_data.iloc[idx[0]-1]['new_time']:
            full_data.at[idx[0],'new_time'] = floor_round

        # Replace the second duplicated if the new round doesn't conflict with the next value
        elif ceil_round != full_data.iloc[idx[1]+1]['new_time']:
            full_data.at[idx[1],'new_time'] = ceil_round

        # Exclude the first duplicated if the two replace methods didn't work
        else:
            full_data = full_data.drop(axis=0,index=idx[0]).reset_index(drop=True)

    # Maintain the same format as the DataFrame from the input
    full_data = full_data.drop('time',axis=1)
    full_data = full_data[['new_time','bpm','state']].rename(columns={"new_time": "time"})
    
    return full_data

In [39]:
round_data = time_rounder(full_data)

In [40]:
def gap_filler(full_data, start, end):
    """
    Description
    -----------
    This function round the time in multiple hours of 5 minutes (Ex: 00h00, 00h05, 00h10, 00h15, and so on).

    Parameters
    ----------
    full_data : <class 'pandas.core.frame.DataFrame'>
        Sleep and Heart route concatenated. DataFrame with integer index and ['time', 'bpm', 'state'] columns

    start : <string>
        Beginning of the interval. The day is in the format YYYY-MM-DD

    end : <string>
        End of the interval. The day is in the format YYYY-MM-DD

    Returns
    -------
    full_data : <class 'pandas.core.frame.DataFrame'>
        Full data with iserted gaps filled with NaN values. DataFrame with timestamp index and ['bpm', 'state'] columns
    """

    #Add the hour in the start and end time
    start_time = datetime.datetime.strptime(start + "T00:00:00+03:00", "%Y-%m-%dT%H:%M:%S%z")
    end_time = datetime.datetime.strptime(end + "T23:55:00+03:00", "%Y-%m-%dT%H:%M:%S%z")
    
    # Create a spaced timelist within the sleep time interval
    time_list = set()
    aux = start_time
    
    while aux <= end_time:
        time_list.add(aux)
        aux += datetime.timedelta(minutes=5)
    
    # Take just the times that are not in the data 
    gaps = time_list - time_list.intersection(full_data['time'])
    
    # Concatenate the data with the new rolls
    new_rows = {'time': list(gaps), 'bpm':[None]*len(gaps), 'state':[None]*len(gaps)}
    full_data = pd.concat([full_data, pd.DataFrame(new_rows)], ignore_index=True)
    
    # Set the index as a timestamp
    full_data.index = full_data['time']
    full_data = full_data.drop('time', axis=1).sort_index()
    
    # Fill the None state with the state of the previous roll
    #full_data['state'] = full_data['state'].ffill()
    
    return full_data

In [55]:
filler_data = gap_filler(round_data, START, END)

# Data Labeling

In [56]:
lay_down = [datetime.datetime.strptime(start, "%Y-%m-%dT%H:%M:%S%z") + 0*datetime.timedelta(minutes=5) for start in start_bedtime]
get_up = [datetime.datetime.strptime(end, "%Y-%m-%dT%H:%M:%S%z") + datetime.timedelta(minutes=5) for end in end_bedtime]

In [57]:
df_get_up = pd.DataFrame(get_up, columns = ["time"])
df_get_up['time'] = df_get_up['time'].round('5min')

df_lay_down = pd.DataFrame(lay_down, columns = ["time"])
df_lay_down['time'] = df_lay_down['time'].round('5min')

Prox passo: Aplicar o label a partir do get up e lay down - tudo no mesmo looping da função que cria a coluna label

In [64]:
display(df_get_up.head(3))
display(df_lay_down.head(3))

                       time
0 2023-07-26 08:40:00+03:00
1 2023-07-27 07:00:00+03:00
2 2023-07-28 09:35:00+03:00

                       time
0 2023-07-25 23:00:00+03:00
1 2023-07-26 23:20:00+03:00
2 2023-07-27 23:45:00+03:00

In [58]:
filler_data.loc[filler_data.index.isin(df_get_up['time']), 'label'] = 'get_up'
filler_data.loc[filler_data.index.isin(df_lay_down['time']), 'label'] = 'lay_down'

active_time = 0
resting_time = 1 <br>

get_up muda o estado na hora <br>
lay_down muda na proxima linha

In [ ]:
for

In [60]:
for i in range(5):
    
    up = df_get_up.iloc[i]['time']-1*datetime.timedelta(minutes=10)
    down = df_lay_down.iloc[i]['time']-datetime.timedelta(minutes=10)
    #print(up)
    print(down)
    
    print("Full:")
    #display(filler_data[filler_data.index >= up].head())
    display(filler_data[filler_data.index >= down].head())
    
    print("Awake:")
    #display(heart_data[heart_data['time'] >= up].head())
    display(heart_data[heart_data['time'] >= down].head())

    print("Sleep:")
    #display(sleep_data[sleep_data['time'] >= up].head())
    display(sleep_data[sleep_data['time'] >= down].head())
    
    print('-----------------------------------------------------')

2023-07-25 22:50:00+03:00
Full:

                            bpm  state     label
time
2023-07-25 22:50:00+03:00  67.3  awake       NaN
2023-07-25 22:55:00+03:00  78.0  awake       NaN
2023-07-25 23:00:00+03:00  68.3  awake  lay_down
2023-07-25 23:05:00+03:00   NaN   None       NaN
2023-07-25 23:10:00+03:00  49.0  sleep       NaN

Awake:

                          time   bpm  state
time
72   2023-07-25 22:50:42+03:00  67.3  awake
73   2023-07-25 22:56:06+03:00  78.0  awake
74   2023-07-25 23:02:28+03:00  68.3  awake
75   2023-07-26 03:39:46+03:00  70.7  awake
76   2023-07-26 03:44:48+03:00  77.0  awake

Sleep:

                       time   bpm  state
0 2023-07-25 23:01:58+03:00   NaN  sleep
1 2023-07-25 23:06:58+03:00   NaN  sleep
2 2023-07-25 23:11:58+03:00  49.0  sleep
3 2023-07-25 23:16:58+03:00  50.0  sleep
4 2023-07-25 23:21:58+03:00  51.0  sleep

-----------------------------------------------------
2023-07-26 23:10:00+03:00
Full:

                            bpm  state     label
time
2023-07-26 23:10:00+03:00  78.3  awake       NaN
2023-07-26 23:15:00+03:00   NaN   None       NaN
2023-07-26 23:20:00+03:00   NaN   None  lay_down
2023-07-26 23:25:00+03:00  52.0  sleep       NaN
2023-07-26 23:30:00+03:00  52.0  sleep       NaN

Awake:

                          time   bpm  state
time
147  2023-07-27 07:04:51+03:00  68.3  awake
148  2023-07-27 07:43:33+03:00  91.0  awake
149  2023-07-27 08:58:56+03:00  80.0  awake
150  2023-07-27 09:04:22+03:00  64.0  awake
151  2023-07-27 09:09:31+03:00  66.0  awake

Sleep:

                       time   bpm  state
0 2023-07-26 23:19:04+03:00   NaN  sleep
1 2023-07-26 23:24:04+03:00  52.0  sleep
2 2023-07-26 23:29:04+03:00  52.0  sleep
3 2023-07-26 23:34:04+03:00  52.0  sleep
4 2023-07-26 23:39:04+03:00  52.0  sleep

-----------------------------------------------------
2023-07-27 23:35:00+03:00
Full:

                            bpm  state     label
time
2023-07-27 23:35:00+03:00  69.0  awake       NaN
2023-07-27 23:40:00+03:00   NaN   None       NaN
2023-07-27 23:45:00+03:00  70.0  awake  lay_down
2023-07-27 23:50:00+03:00  52.0  sleep       NaN
2023-07-27 23:55:00+03:00  51.0  sleep       NaN

Awake:

                          time    bpm  state
time
209  2023-07-27 23:43:11+03:00   70.0  awake
210  2023-07-28 09:41:24+03:00  101.0  awake
211  2023-07-28 09:46:31+03:00   67.7  awake
212  2023-07-28 09:51:40+03:00   64.0  awake
213  2023-07-28 09:56:53+03:00   62.3  awake

Sleep:

                       time   bpm  state
0 2023-07-27 23:43:02+03:00   NaN  sleep
1 2023-07-27 23:48:02+03:00  52.0  sleep
2 2023-07-27 23:53:02+03:00  51.0  sleep
3 2023-07-27 23:58:02+03:00  50.0  sleep
4 2023-07-28 00:03:02+03:00  50.0  sleep

-----------------------------------------------------
2023-07-28 23:20:00+03:00
Full:

                            bpm  state     label
time
2023-07-28 23:20:00+03:00  80.7  awake       NaN
2023-07-28 23:25:00+03:00  75.3  awake       NaN
2023-07-28 23:30:00+03:00   NaN   None  lay_down
2023-07-28 23:35:00+03:00  53.0  sleep       NaN
2023-07-28 23:40:00+03:00  54.0  sleep       NaN

Awake:

                          time   bpm  state
time
284  2023-07-28 23:24:48+03:00  75.3  awake
285  2023-07-29 02:11:41+03:00  66.0  awake
286  2023-07-29 02:16:48+03:00  57.7  awake
287  2023-07-29 06:58:33+03:00  59.0  awake
288  2023-07-29 07:08:25+03:00  55.0  awake

Sleep:

                       time   bpm  state
0 2023-07-28 23:31:59+03:00   NaN  sleep
1 2023-07-28 23:36:59+03:00  53.0  sleep
2 2023-07-28 23:41:59+03:00  54.0  sleep
3 2023-07-28 23:46:59+03:00  52.0  sleep
4 2023-07-28 23:51:59+03:00  51.0  sleep

-----------------------------------------------------
2023-07-30 23:45:00+03:00
Full:

                            bpm  state     label
time
2023-07-30 23:45:00+03:00  55.7  awake       NaN
2023-07-30 23:50:00+03:00   NaN   None       NaN
2023-07-30 23:55:00+03:00  65.3  awake  lay_down
2023-07-31 00:00:00+03:00  47.0  sleep       NaN
2023-07-31 00:05:00+03:00  47.0  sleep       NaN

Awake:

                          time    bpm  state
time
391  2023-07-30 23:46:21+03:00   55.7  awake
392  2023-07-30 23:56:20+03:00   65.3  awake
393  2023-07-31 09:31:53+03:00   77.3  awake
394  2023-07-31 09:42:06+03:00  100.7  awake
395  2023-07-31 16:08:19+03:00   98.3  awake

Sleep:

                       time   bpm  state
0 2023-07-30 23:55:32+03:00   NaN  sleep
1 2023-07-31 00:00:32+03:00  47.0  sleep
2 2023-07-31 00:05:32+03:00  47.0  sleep
3 2023-07-31 00:10:32+03:00  46.0  sleep
4 2023-07-31 00:15:32+03:00  47.0  sleep

-----------------------------------------------------

# Day Separator

Rule: The day finish after the last sleep label, and start 5 minutes after the last sleep label of the previous day

In [43]:
def day_batcher(df):
    
    sleep_rows = df[df['state'] == 'sleep']
    sleep_rows['time_diff'] = sleep_rows['time'].shift(-1).diff()
    
    day_end = sleep_rows[sleep_rows['time_diff'] > datetime.timedelta(hours=3)].index  
    day_batch = []

    for idx in range(len(day_end) - 1):

        if idx == 0:
            day_batch.append(df.iloc[0:day_end[idx]])
        else:
            day_batch.append(df.iloc[day_end[idx]+1: day_end[idx+1]])
            
    return day_batch

In [ ]:
day_batcher(full_data)

# Main Function

In [14]:
full_data = pd.concat([sleep_data, heart_data]).dropna(ignore_index=True)
full_data = time_rounder(full_data)
full_data = gap_filler(full_data,START,END)
full_data = full_data.reset_index()

In [15]:
# generate color list
colors=['red' if val == 'awake' else 'blue' for val in full_data['state']]

fig = go.Figure(go.Scatter(
    x = full_data.index,
    y = full_data['bpm'],
    mode='lines',  
    line={'color': 'gray'},
    name="Combined"
))

fig.add_trace(go.Scatter(
    x = full_data[full_data['state'] == 'awake'].index,
    y = full_data[full_data['state'] == 'awake']['bpm'],
    mode='markers',  
    line={'color': 'green'},
    name="Awake"
))

fig.add_trace(go.Scatter(
    x = full_data[full_data['state'] == 'sleep'].index,
    y = full_data[full_data['state'] == 'sleep']['bpm'],
    mode='markers',  
    line={'color': 'blue'},
    name="Seep"
))

fig.update_layout(title = 'BPM Time Series')
fig.show()