# Imports

In [1]:
import requests
import datetime
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'iframe'


headers = {'Authorization': 'Bearer Q3E2ETZRM4AKZULORX6LJNQOKSIOWOYG'}

# Request

In [23]:
url = 'https://api.ouraring.com/v2/usercollection/heartrate' 
params={ 
    'start_datetime': '2023-07-21T12:34:56+03:00', 
    'end_datetime': '2023-08-14T18:14:56+03:00' 
}

response = requests.request('GET', url, headers=headers, params=params)
response.json()['data'][0:3]

[{'bpm': 56, 'source': 'awake', 'timestamp': '2023-07-21T10:44:01+00:00'},
 {'bpm': 64, 'source': 'awake', 'timestamp': '2023-07-21T10:44:03+00:00'},
 {'bpm': 55, 'source': 'awake', 'timestamp': '2023-07-21T10:44:05+00:00'}]

# Response Preprocessing

In [24]:
def heart_route_preprocessing(response):
    
    time, bpm, label = [], [], []

    for data in response.json()['data']:
        bpm.append(data['bpm'])
        label.append(data['source'])
        time.append(data['timestamp'])

    heart_data = pd.DataFrame(columns = ["time", "bpm", "label"])
    heart_data["time"], heart_data["bpm"], heart_data["label"] = time, bpm, label

    return heart_data

In [25]:
heart_data = heart_route_preprocessing(response)
heart_data.head()

                        time  bpm  label
0  2023-07-21T10:44:01+00:00   56  awake
1  2023-07-21T10:44:03+00:00   64  awake
2  2023-07-21T10:44:05+00:00   55  awake
3  2023-07-21T10:54:34+00:00   64  awake
4  2023-07-21T10:54:41+00:00   60  awake

# Timestamp Preprocessing

In [26]:
def time_preprocessing(time):

    # Set the timezones 
    LV_TIMEZONE = datetime.timezone(offset = datetime.timedelta(hours=3))
    BR_TIMEZONE = datetime.timezone(offset = datetime.timedelta(hours=-3))

    # String to Datetime
    new_time = datetime.datetime.strptime(time, "%Y-%m-%dT%H:%M:%S%z")
    
    if (new_time <= datetime.datetime(2023, 8, 24, tzinfo=datetime.timezone.utc)):
        new_time = new_time.astimezone(LV_TIMEZONE)
    else:
        new_time = new_time.astimezone(BR_TIMEZONE)
    
    #print(time)
    #print(new_time)
    
    return new_time

In [27]:
heart_data['time'] = heart_data['time'].apply(time_preprocessing)
heart_data.head()

                       time  bpm  label
0 2023-07-21 13:44:01+03:00   56  awake
1 2023-07-21 13:44:03+03:00   64  awake
2 2023-07-21 13:44:05+03:00   55  awake
3 2023-07-21 13:54:34+03:00   64  awake
4 2023-07-21 13:54:41+03:00   60  awake

# Days Analysis

In [28]:
fig = px.histogram(heart_data['time'], x="time", title = 'Records Counting')

layout = dict(
    bargap=0.2
)

fig.update_layout(layout)
fig.show()

In [29]:
fig = px.histogram(heart_data, x="bpm", title = 'BPM Counting', nbins = 20)

layout = dict(
    bargap=0.2,
    xaxis=dict(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 5,
        showgrid=True,
        ticks="outside",
        tickson="boundaries",
        ticklen=20
    )
)

fig.update_layout(layout)
fig.show()

In [30]:
fig = go.Figure(go.Scatter(
    x = heart_data['time'],
    y = heart_data['bpm'],
))

fig.update_layout(title = 'BPM Time Series')
fig.show()

# Hours Analysis

In [31]:
time_count = heart_data.copy()
time_count['hour'] = time_count['time'].apply(lambda x: x.hour)
time_count['bpm_norm'] = (time_count['bpm'] - time_count['bpm'].min())/(time_count['bpm'].max()-time_count['bpm'].min())
time_count.head()

                       time  bpm  label  hour  bpm_norm
0 2023-07-21 13:44:01+03:00   56  awake    13  0.087912
1 2023-07-21 13:44:03+03:00   64  awake    13  0.175824
2 2023-07-21 13:44:05+03:00   55  awake    13  0.076923
3 2023-07-21 13:54:34+03:00   64  awake    13  0.175824
4 2023-07-21 13:54:41+03:00   60  awake    13  0.131868

In [32]:
hours_df = pd.DataFrame()
hours_df['count'] = time_count.groupby(by='hour')['hour'].count().to_frame()
hours_df['bpm_mean'] = time_count.groupby(by='hour')['bpm'].mean().to_frame()
hours_df['bpm_std'] = time_count.groupby(by='hour')['bpm'].std().to_frame()
hours_df['bpm_max'] = time_count.groupby(by='hour')['bpm'].max().to_frame()
hours_df['bpm_min'] = time_count.groupby(by='hour')['bpm'].min().to_frame()
hours_df.head()

      count   bpm_mean    bpm_std  bpm_max  bpm_min
hour
0       157  69.624204  10.137778      107       49
1       117  73.076923  16.538437      139       50
2        27  67.962963  10.952630       87       49
3        45  68.533333  10.417642       92       50
4        57  70.245614   8.926847       95       48

In [33]:
fig = px.bar(data_frame=hours_df['count'])

layout = dict(
    bargap=0.2,
    xaxis=dict(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 1,
        showgrid=True,
        ticks="outside",
        tickson="boundaries",
        ticklen=5
    )
)

fig.update_layout(layout)
fig.show()

In [34]:
fig = px.bar(data_frame=hours_df['bpm_mean'])

layout = dict(
    bargap=0.2,
    xaxis=dict(
        tickmode = 'linear',
        tick0 = 0,
        dtick = 1,
        showgrid=True,
        ticks="outside",
        tickson="boundaries",
        ticklen=5
    )
)

fig.update_layout(layout)
fig.show()

# Gap Analysis

In [35]:
time_count['delta_time'] = time_count['time'].diff()
time_count['delta_time'] = time_count['delta_time'].apply(lambda x: x.total_seconds())
time_count

                          time  bpm  label  hour  bpm_norm  delta_time
0    2023-07-21 13:44:01+03:00   56  awake    13  0.087912         NaN
1    2023-07-21 13:44:03+03:00   64  awake    13  0.175824         2.0
2    2023-07-21 13:44:05+03:00   55  awake    13  0.076923         2.0
3    2023-07-21 13:54:34+03:00   64  awake    13  0.175824       629.0
4    2023-07-21 13:54:41+03:00   60  awake    13  0.131868         7.0
...                        ...  ...    ...   ...       ...         ...
5472 2023-08-14 12:19:56+03:00   89  awake    12  0.450549        22.0
5473 2023-08-14 12:19:57+03:00   81  awake    12  0.362637         1.0
5474 2023-08-14 12:29:34+03:00   80  awake    12  0.351648       577.0
5475 2023-08-14 12:29:37+03:00   63  awake    12  0.164835         3.0
5476 2023-08-14 12:29:38+03:00   70  awake    12  0.241758         1.0

[5477 rows x 6 columns]

In [36]:
time_count[time_count['delta_time'] < 2700]['delta_time']

1         2.0
2         2.0
3       629.0
4         7.0
5         2.0
        ...
5472     22.0
5473      1.0
5474    577.0
5475      3.0
5476      1.0
Name: delta_time, Length: 5377, dtype: float64

In [37]:
fig = go.Figure(data=[go.Histogram(x=time_count[time_count['delta_time'] < 2000]['delta_time'])]) 
fig.show()

In [38]:
fig = go.Figure(data=[go.Histogram(x=time_count[time_count['delta_time'] < 50]['delta_time'])]) 
fig.show()

In [39]:
fig = go.Figure(data=[go.Histogram(x=time_count[time_count['delta_time'] < 2000]['delta_time'],  histnorm='percent',cumulative_enabled=True)]) 
fig.show()

#### Cutting the data in 625s (10 min 25s)

In [40]:
print(f"Mean: {time_count[time_count['delta_time'] < 625]['delta_time'].mean()}")
print(f"Std: {time_count[time_count['delta_time'] < 625]['delta_time'].std()}")
print(f"Median: {time_count[time_count['delta_time'] < 625]['delta_time'].median()}")

Mean: 108.12186945375666
Std: 165.89831530976693
Median: 12.0

In [41]:
fig = go.Figure(data=[go.Histogram(x=time_count[time_count['delta_time'] < 625]['delta_time'])]) 
fig.show()

#### Cutting the data in 60s

In [42]:
print(f"Mean: {time_count[time_count['delta_time'] < 60]['delta_time'].mean()}")
print(f"Std: {time_count[time_count['delta_time'] < 60]['delta_time'].std()}")
print(f"Median: {time_count[time_count['delta_time'] < 60]['delta_time'].median()}")

Mean: 9.305794288882728
Std: 8.897108731939499
Median: 6.0

In [43]:
fig = go.Figure(data=[go.Histogram(x=time_count[time_count['delta_time'] < 60]['delta_time'])]) 
fig.show()