# Imports

In [17]:
import requests
import datetime
import pandas as pd

import matplotlib.pyplot as plt
import plotly.graph_objects as go
import plotly.express as px
import plotly.io as pio

pio.renderers.default = 'iframe'


headers = {'Authorization': 'Bearer Q3E2ETZRM4AKZULORX6LJNQOKSIOWOYG'}

# Request

In [2]:
url = 'https://api.ouraring.com/v2/usercollection/heartrate' 
params={ 
    'start_datetime': '2023-07-21T12:34:56+03:00', 
    'end_datetime': '2023-08-03T18:14:56+03:00' 
}

response = requests.request('GET', url, headers=headers, params=params)
response.json()['data'][0:3]

[{'bpm': 56, 'source': 'awake', 'timestamp': '2023-07-21T10:44:01+00:00'},
 {'bpm': 64, 'source': 'awake', 'timestamp': '2023-07-21T10:44:03+00:00'},
 {'bpm': 55, 'source': 'awake', 'timestamp': '2023-07-21T10:44:05+00:00'}]

# Response Preprocessing

In [3]:
def heart_route_preprocessing(response):
    
    time, bpm, label = [], [], []

    for data in response.json()['data']:
        bpm.append(data['bpm'])
        label.append(data['source'])
        time.append(data['timestamp'])

    heart_data = pd.DataFrame(columns = ["time", "bpm", "label"])
    heart_data["time"], heart_data["bpm"], heart_data["label"] = time, bpm, label

    return heart_data

In [4]:
heart_data = heart_route_preprocessing(response)
heart_data.head()

                        time  bpm  label
0  2023-07-21T10:44:01+00:00   56  awake
1  2023-07-21T10:44:03+00:00   64  awake
2  2023-07-21T10:44:05+00:00   55  awake
3  2023-07-21T10:54:34+00:00   64  awake
4  2023-07-21T10:54:41+00:00   60  awake

# Timestamp Preprocessing

In [5]:
def time_preprocessing(time):

    # Set the timezones 
    LV_TIMEZONE = datetime.timezone(offset = datetime.timedelta(hours=3))
    BR_TIMEZONE = datetime.timezone(offset = datetime.timedelta(hours=-3))

    # String to Datetime
    new_time = datetime.datetime.strptime(time, "%Y-%m-%dT%H:%M:%S%z")
    
    if (new_time <= datetime.datetime(2023, 8, 24, tzinfo=datetime.timezone.utc)):
        new_time = new_time.astimezone(LV_TIMEZONE)
    else:
        new_time = new_time.astimezone(BR_TIMEZONE)
    
    #print(time)
    #print(new_time)
    
    return new_time

In [6]:
heart_data['time'] = heart_data['time'].apply(time_preprocessing)
heart_data.head()

                       time  bpm  label
0 2023-07-21 13:44:01+03:00   56  awake
1 2023-07-21 13:44:03+03:00   64  awake
2 2023-07-21 13:44:05+03:00   55  awake
3 2023-07-21 13:54:34+03:00   64  awake
4 2023-07-21 13:54:41+03:00   60  awake

# Daytime Plot

In [18]:
fig = px.histogram(heart_data['time'], x="time")
fig.update_layout(bargap=0.2)
fig.show()

In [74]:
time_count = heart_data.copy()
time_count['hour'] = time_count['time'].apply(lambda x: x.hour)
time_count['bpm_norm'] = (time_count['bpm'] - time_count['bpm'].min())/(time_count['bpm'].max()-time_count['bpm'].min())
time_count.head()

                       time  bpm  label  hour  bpm_norm
0 2023-07-21 13:44:01+03:00   56  awake    13  0.087912
1 2023-07-21 13:44:03+03:00   64  awake    13  0.175824
2 2023-07-21 13:44:05+03:00   55  awake    13  0.076923
3 2023-07-21 13:54:34+03:00   64  awake    13  0.175824
4 2023-07-21 13:54:41+03:00   60  awake    13  0.131868

In [73]:
hours_df = pd.DataFrame()
hours_df['count'] = time_count.groupby(by='hour')['hour'].count().to_frame()
hours_df['bpm_mean'] = time_count.groupby(by='hour')['bpm'].mean().to_frame()
hours_df['bpm_std'] = time_count.groupby(by='hour')['bpm'].std().to_frame()
hours_df['bpm_max'] = time_count.groupby(by='hour')['bpm'].max().to_frame()
hours_df['bpm_min'] = time_count.groupby(by='hour')['bpm'].min().to_frame()
hours_df.head()

      count   bpm_mean    bpm_std  bpm_max  bpm_min
hour
0        42  70.333333   8.538769       93       50
1        27  87.740741  24.170218      139       60
2        21  69.190476  10.142086       86       51
3        21  72.809524   5.573321       82       65
4        57  70.245614   8.926847       95       48

In [75]:
fig = px.bar(data_frame=hours_df['count'])
fig.update_layout(bargap=0.2)
fig.show()

In [79]:
fig = px.bar(data_frame=hours_df['bpm_mean'])
fig.update_layout(bargap=0.2)
fig.show()